<div class="col-3">
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Contagiando</div>
        <div class="card-body">
            <h5 class="card-title">Titulo</h5>
            <p class="card-text">Desc</p>
        </div>
    </div>
</div>