<div class="row">
    {{#each @model as |model|}}
    <div class="col-3">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">{{ model.title }}</div>
            <div class="card-body">
                <h5 class="card-title">Casos</h5>
                <p class="card-text">{{ model.data }}</p>
                <p class="card-text">{{ model.today }}</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>