<div class="row">
    <div class="col-3">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Casos</div>
            <div class="card-body">
                <h5 class="card-title">Casos</h5>
                <p class="card-text">{{@model.cases}}</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Muertos</div>
            <div class="card-body">
                <h5 class="card-title">Muertos</h5>
                <p class="card-text">{{@model.deaths}}</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Recuperados</div>
            <div class="card-body">
                <h5 class="card-title">Recuperados</h5>
                <p class="card-text">{{@model.recovered}}</p>
            </div>
        </div>
    </div>

</div>